In [100]:
with open('SMSSpamCollection.txt','r') as file:
    data = file.read()

In [101]:
len(data)

477907

In [102]:
#print(data)
emails = data.split('\n')
len(emails)

5575

In [103]:
x=[]
y=[]
for i in range(5574):
    label_email = emails[i].split('\t')
    x.append(label_email[0])
    y.append(label_email[1])
print(len(x))
len(y)

5574

5574

In [104]:
import re
ls= "cg757ty08fyc654q4@$$%"
re.sub('[^a-zA-Z0-9]',' ',ls)#substitute

'cg757ty08fyc654q4    '

In [105]:
for i in y:
    d= re.sub('[a-zA-Z]',' ',i).lower()
    i=d

In [106]:
import pandas as pd
dt = {"label":x,"email_msg":y}
df = pd.DataFrame(dt)

print(df.head())

  label                                          email_msg
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [107]:
df['label'].value_counts()

label
ham     4827
spam     747
Name: count, dtype: int64

In [108]:
ham = df[df['label']=='ham']
spam = df[df['label']=='spam']

In [109]:
ham.shape , spam.shape

((4827, 2), (747, 2))

In [110]:
ham.sample(1000).shape

(1000, 2)

In [111]:
#from imblearn.over_sampling import SMOTE

In [112]:
#smote = SMOTE()

In [113]:
ham =ham.sample(1000)

In [114]:
balance_df = pd.concat([ham,spam])
balance_df['label'].value_counts()

label
ham     1000
spam     747
Name: count, dtype: int64

In [115]:
balance_df

     label                                          email_msg
4898   ham  I cant pick the phone right now. Pls send a me...
1400   ham  You have registered Sinco as Payee. Log in at ...
2874   ham                    I dont understand your message.
1420   ham  "Speak only when you feel your words are bette...
3269   ham  Which is why i never wanted to tell you any of...
...    ...                                                ...
5539  spam  Want explicit SEX in 30 secs? Ring 02073162414...
5542  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5549  spam  Had your contract mobile 11 Mnths? Latest Moto...
5568  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5569  spam  This is the 2nd time we have tried 2 contact u...

[1747 rows x 2 columns]

In [116]:
x = balance_df['label']
y = balance_df['email_msg']

In [117]:
import numpy as np

In [118]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
bow = CountVectorizer(max_features=1700,stop_words='english')# bag of words

In [119]:
y=bow.fit_transform(y).toarray()

In [120]:
y.shape

(1747, 1700)

In [121]:
column_name =

SyntaxError: invalid syntax (1085379336.py, line 1)

In [ ]:
column_name = bow.get_feature_names_out()
column_name

array(['00', '000', '008704050406', ..., 'zoe', 'ã¼', 'ãœ'], dtype=object)

In [ ]:
testing = pd.DataFrame(y,columns = column_name)
testing

,00,000,008704050406,01223585334,02,0207,02073162414,021,03,04,...,yijue,ym,yo,yr,yrs,yup,zed,zoe,ã¼,ãœ
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1743,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1744,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1745,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
dt = {'ham':0,'spam':1}
x = x.map(dt)

In [ ]:
x = np.array(x)

In [ ]:
x.shape,y.shape

((1747,), (1747, 1700))

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test ,y_train , y_test = train_test_split(y,x,test_size=0.15)

In [ ]:
from sklearn.naive_bayes import MultinomialNB, BernoulliNB

In [122]:
mb = MultinomialNB()
bnb = BernoulliNB()
mb.fit(x_train,y_train)
bnb.fit(x_train,y_train)

print("Training Score MNB: ",mb.score(x_train,y_train))
print("Testing Score MNB: ",mb.score(x_test,y_test))
print()
print("Training Score BNB: ",bnb.score(x_train,y_train))
print("Testing Score BNB: ",bnb.score(x_test,y_test))

Training Score MNB:  0.9777628032345014
Testing Score MNB:  0.9847908745247148

Training Score BNB:  0.9615902964959568
Testing Score BNB:  0.9619771863117871

In [123]:
import joblib

In [124]:
joblib.dump(mb,'MNB_Model.lb')
joblib.dump(bow,'CountVectorizer.lb')

['CountVectorizer.lb']

In [129]:
prediction = mb.predict(x_test)

In [127]:
prediction[:10]

array(['ham', 'spam', 'ham', 'ham', 'spam', 'ham', 'spam', 'spam', 'spam',
       'ham'], dtype='<U4')